/* Write your CSS here */
.coverage-container {
  background-color: #1c1c2b;
  padding: 30px;
}
.coverage-hading {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Roboto';
  color: #cbd5e1;
  border-radius: 5px;
}
