/* Write your CSS here */
.gender-hading {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Roboto';
  color: #cbd5e1;
}
.gender-container {
  background-color: #1c1c2b;
  padding: 30px;
  border-radius: 5px;
}
